app_root = "%(root_dir)s"
 
worker_processes 2
working_directory app_root
 
listen "%(interface)s", :backlog => 1024

timeout 60
 
File.umask(027)
 
preload_app true
 
pid "#{app_root}/unicorn/wiki.pid"
 
stderr_path "#{app_root}/unicorn/wiki.stderr.log"
stdout_path "#{app_root}/unicorn/wiki.stdout.log"

Unicorn::HttpServer::START_CTX[0] = "#{app_root}/bin/unicorn"

## Local Variables: ##
## mode: ruby       ##
## End:             ##
